* {
  box-sizing: border-box;
}

:root {
  interpolate-size: allow-keywords;
}

body {
  font-family: var(--font-family-general);
  margin: 0;
}

p {
  font-family: var(--font-family-general);
  color: var(--font-color-general);
}

a {
  text-decoration: none;
}

/*skiplink*/
.skip {
  position: absolute;
  background-color: var(--font-color-general);
  color: var(--background-color-nav);
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  z-index: 100;
  transform: translateY(-200%);
  transition: transform 0.3s;
}

.skip:focus {
  transform: translate(0%);
}


/*NAV*/

nav {
  background-color: var(--background-color-nav);
  height: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px;
}

.nav-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 1em;
  margin-top: 1.5em;
}

.phone-design-dashboard-heading {
  display: block;
}

.desktop-design-dashboard-heading {
  display: none;
}

.nav-phone-dashboard-nieuwekijk {
  display: flex;
  margin-left: .5em;
  gap: 1.5em;
  grid-column: 1;
  grid-row: 3;
}

.heading-text {
  display: flex;
  gap: .5em;
  font-size: var(--paragraph-m);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  color: var(--font-color-nav);
  padding-top: 15px;
}

summary {
  position: relative;
  list-style: none;
  font-family: var(--font-family-general);
  color: var(--font-color-general);
  font-weight: var(--font-weight-bold);
}

summary::after {
  content: '';
  width: 10px;
  height: 10px;
  background: url('./assets/arrow.svg') no-repeat;
  background-size: cover;
  transition: 0.3s;
  background-size: contain;
  margin-top: .5em;
}

/*logo accessdash*/
.logo-accessdash-img {
  margin-top: .5em;
  margin-left: .5em;
}

.nav-details {
  margin-left: .5em;
  display: block;
}

details::details-content{
  font-size: var(--paragraph-m);
  block-size: 0;
  transition-property: block-size,
  content-visibility;
  transition-duration: 1s;
  transition-behavior: allow-discrete;
  }
  
  details[open]::details-content{
  block-size: auto;
  block-size: calc-size(auto);
  }

.nieuwekijk-nav-subtext {
  display: grid;
  margin-left: 1.5em;
  padding: .1em;
  line-height: var(--line-height-general);
  font-family: var(--font-family-general);
  color: var(--font-color-general);
  grid-column: 3;
  grid-row: 1;
  list-style-type: none;
  cursor: pointer;
}

a.nieuwekijk-nav-subtext {
  text-decoration: none;
}

.dashboard-nav-subtext {
  display: grid;
  margin-left: 1.5em;
  padding: .1em;
  line-height: var(--line-height-general);
  font-family: var(--font-family-general);
  color: var(--font-color-general);
  list-style-type: none;
  cursor: pointer;
}

a.dashboard-nav-subtex {
  text-decoration: none;
}

.extra-info-nav {
  list-style-type: none;
  cursor: pointer;
  font-family: var(--font-family-general);
  color: var(--font-color-general);
  line-height: var(--line-height-general);
  font-weight: var(--font-weight-bold);
  padding: .1em;
}

.extra-info-subtext-nav {
  position: absolute;
  top: 0;
  right: 0;

  margin-top: .5em;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: end;
}

.link-site {
  grid-column: 1;
  display: flex;
  margin: 0;
  margin-left: 4em;
}

.update-site {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-self: center;
}


/*main*/

main {
  background-color: var(--background-color);
  padding-bottom: .5em;
  min-height: 100vh;
}

h1 {
  display: grid;
  color: var(--font-color-secondary);
  font-size: var(--paragraph-s);
  margin-left: 1.5em;
  padding-top: 1.5em;
}

h1 strong {
  color: var(--font-color-general);
  font-size: var(--titel-s);
}

h2 {
  font-size: var(--subtitel-s);
  color: var(--font-color-general);
  font-weight: var(--font-weight-bold);
  margin-left: 1.5em;
  padding-top: .5em;
}

h4 {
  font-size: var(--paragraph-m);
}

.titel-text {
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.page-tg {
  background-color: var(--background-color-cards);
  border-radius: var(--border-radius-m);
  margin: 1.5em;
  display: grid;
  grid-template-columns: 40% 60%;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.082));
}

.page-as {
  background-color: var(--background-color-cards);
  border-radius: var(--border-radius-m);
  margin: 1.5em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 25% 20% 20% 20%;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.082));
}

.datum-scan {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  justify-content: end;
  margin-right: 1.5em;
  margin-top: 1.5em;
}

.circle.circle-as {
  margin-left: 1em;
  grid-column: 1;
  grid-row: 2;
  margin-top: .5em;
  margin-bottom: .5em;
}

.disclaimer {
  grid-column: 1 / span2;
  margin: 1.5em;
  font-size: var(--paragraph-xs);
  margin-top: 2em;
}

.attention {
  grid-column: 1;
  grid-row: 4;
  margin: 0;
  margin-left: 1.5em;
  margin-top: .5em;
  font-weight: var(--font-weight-bold);
}

.at-required {
  grid-column: 1 / span2;
  grid-row: 4 / span2;
  column-width: 120px;
}

.update-site.new-errors {
  background-color: var(--background-color-warning);
  color: var(--font-color-general);
  padding: .5em;
  border-radius: var(--border-radius-m);
  border: var(--border-warning);
  align-self: center;
  margin-right: 1.5em;
  grid-column: 1 / span2;
  grid-row: 2;
  gap: .5em;
  display: flex;
  justify-self: end;
}

li {
  list-style-type: none;
  color: var(--font-color-general);
  display: flex;
  gap: .7em;
  line-height: var(--line-height-general);
  margin-right: 1em;
}

.circle.circle-tg {
  grid-column: 1;
  margin-left: 1em;
}

.search-text {
  margin-left: 1.5em;
  font-size: var(--paragraph-m);
  font-weight: var(--font-weight-bold);
}

#search {
  border-radius: var(--border-radius-xs);
  border: none;
  padding: 1em;
  display: flex;
  justify-self: stretch;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: var(--paragraph-s);
  margin-bottom: 1.5em;
  padding-left: 2.5em;
}

label>input {
  background-position: .5em;
  background-repeat: no-repeat;
  background-image: url(./assets/search.svg);
}

.button-filter {
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 2em;
}

button {
  border-radius: var(--border-radius-xxs);
  border: none;
  margin: .2em;
  background: var(--background-color-button);
  color: var(--font-color-button);
  padding: 1em;
  font-size: var(--paragraph-s);
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.082));
  font-weight: var(--font-weight-bold);
}

.page-extra {
  border-radius: var(--border-radius-l);
}

.filter-text {
  margin-left: 1.5em;
  font-size: var(--paragraph-m);
  font-weight: var(--font-weight-bold);
}

label {
  margin-left: 1.5em;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.082));
}

.all-pages{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.pages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color-cards);
  border-radius: var(--border-radius-m);
  margin: 1.5em;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.082));
}

.heading-page{
  display: flex;
  justify-content: space-between;
  height: 55px;
}

.procent {
  font-size: var(--primary-l);
  font-weight: var(--font-weight-bold);
  margin-right: 1.5em;
}

.link-page {
  margin: 0;
  margin-right: 1.5em;
  margin-left: 1.5em;
  margin-top: .5em;
  margin-bottom: 1em;
}

.wgac-niveau {
  margin: 0;
  margin-left: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-top: auto;
}

/*niveau's A AA AAA*/
.ni {
  display: flex;
  margin-top: auto;
}

.update-site.new-errors-2 {
  background-color: var(--background-color-warning);
  color: var(--font-color-general);
  padding: .5em;
  border-radius: var(--border-radius-m);
  border: var(--border-warning);
  margin-right: 1.5em;
  margin-left: 1.5em;
  gap: .5em;
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
}

.meter-procent{
  width: -webkit-fill-available;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.add-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color-cards);
  border-radius: var(--border-radius-m);
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 2em;
  padding: 2em;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.082));
}

.add-page-text{
  font-weight: var(--font-weight-bold);
  font-size: var(--paragraph-l);
}


/*circle*/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.circle {
  /* vierkant en rond */
  width: 7em;
  aspect-ratio: 1;
  border-radius: 50%;

  /* om de taartpunt te maken*/
  background-image:
    radial-gradient(white 2.5em,
      transparent 0),
    conic-gradient(var(--color-bar, #666) calc(var(--percentage, 0) * 1%),
      var(--color-track, #ccc) 0);

  /* bolletje in het midden van de div */
  display: grid;
  place-items: center;
}

.circle::before,
.circle::after {
  content: "";
  display: block;
  /* bolletje op elkaar in het midden van de div */
  grid-area: 1/1;

  /* vierkant en rond */
  width: 1em;
  aspect-ratio: 1;
  border-radius: 50%;

  /* kleur van de bar */
  background-color: var(--color-bar, #333);
}

/* bolletje boven */
.circle::before {
  /* omhoog */
  transform:
    translateY(-3em);
}

.circle::after {
  /* draaien en dan in die richting omhoog */
  transform:
    rotate(calc(var(--percentage) * .01turn)) translateY(-3em);
}

.circle-tg {
  --percentage: 100;

  --color-track: var(--progress-circle-background-lightcolor-good);
  --color-bar: var(--progress-circle-background-darkcolor-good);
}

.circle-as {
  --percentage: 69;

  --color-track: var(--progress-circle-background-lightcolor-warning);
  --color-bar: var(--progress-circle-background-darkcolor-warning);
}

.circle span {
  grid-area: 1/1;
  font-family: var(--font-family-general);
}

.circle span::after {
  content: counter(val) "%";
  counter-reset: val var(--percentage);
}




/*media queries*/

@media screen and (min-width:425px){
  .page-tg{
    margin-right: 6em;
  }

  .checks{
    margin-left: 1em;
  }
}

@media screen and (min-width:440px){
  li{
    padding-left: .5em;
  }

  ul{
    padding: .5em;
    padding-top:0;
    padding-left: 1em;
  }
}

@media screen and (min-width:450px){
  .update-site.new-errors{
    /* margin-right: 3em; */
    width: -webkit-fill-available;
    margin-left: 9em;
    justify-content: center;
  }
}



@media screen and (min-width:500px){
  .page-tg{
    margin-right: 10em;
  }
}


@media screen and (min-width:600px){
  .all-pages{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (min-width:700px) {

  body {
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 0;
  }

  main {
    background-color: var(--background-color);
    grid-column: 2;
  }

  .logo-accessdash-img {
    display: flex;
    margin-right: .5em;
    height: 30px;
  }

  nav {
    background-color: var(--background-color-nav);
    grid-column: 1;
    height: 100vh;

    display: flex;
    flex-direction: column;

    position: sticky;
    top: 0;
    left: 0;
  }

  .nav-inner {
    flex-direction: column;
  }

  h1 strong {
    font-size: var(--titel-l);
  }

  h1 {
    font-size: var(--paragraph-m);
  }

  h2 {
    font-size: var(--subtitel-m);
  }

  h3 {
    color: var(--font-color-nav);
    font-size: var(--primary-m);
    font-weight: var(--font-weight-bold);
    display: flex;
    margin: 0;
    margin-top: 1.5em;
    margin-bottom: .5em;
    gap: .5em;
    margin-left: .5em;
  }

  .heading-text {
    font-size: var(--primary-m);
    padding-block: .5em;
  }

  .phone-design-dashboard-heading {
    display: none;
  }

  .desktop-design-dashboard-heading {
    display: block;
  }

  summary::after {
    left: 6em;
  }

  .extra-info-nav {
    margin-top: 1em;
  }

  .extra-info-subtext-nav {
    position: relative;
    margin-top: auto;
    align-items: start;
  }

  .nav-phone-dashboard-nieuwekijk {
    display: flex;
    margin-top: 2em;
    margin-left: .3em;
  }

  .dashboard-nav-subtext {
    margin-left: 2em;
  }

  .all-pages{
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width:750px) {
  .all-pages{
    grid-template-columns: 1fr 1fr;
  }

  .page-tg{
    margin-right: 15em;
  }

} 


@media screen and (min-width:900px) {
  body{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0;
  }

  .logo-accessdash-img {
    height: 35px;
  }

  .pages-test{
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .page-tg{
    margin-right: 0;
    display: block;
  }

  .page-as{
    grid-template-rows: 20% 30% 25% 25%;
  }

  .at-required{
    column-width:125px;
  }

  .checks{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: 1.5em;
  }

  .circle-tg{
    margin-left: 1.5em;
  }

  .filter-text{
    margin-top: 0;
  }

  .search-text{
    margin-top: 0;
  }

  .filter-systeem{
    display: flex;
    margin-top: 2em;
  }
}

@media screen and (min-width:1020px) {
  .all-pages{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
