



.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  
  div {
	/* vierkant en rond	*/
	width: 10em;
	aspect-ratio:1;
	border-radius:50%;

    background-image:conic-gradient(
		darkorange 71%,
		orange 0
    );

    mask-image:radial-gradient(
		closest-side,
		transparent 4em,
		green 0
	)
  }

  h1 {
    display:grid;

    color:green;
    font-size: 1em;
  }

  h1 strong {
    color:red;
    font-size:var(--titel-font-size-desktop);
  }

  h2{
    font-size: var(clamp(1.625rem, 0.8846rem + 2.8205vw, 3rem));
  }



  