body {

    /*colors*/

    /*background*/
    --background-color: #F0F0F0;
    --background-color-warning: #ffd08a3b;
    --background-color-error: #FFDADA;
    --background-color-good: #BBFFD8;
    --background-color-nav: #ffffff;
    --background-color-cards:#ffffff;

    /*progress circle*/
    --progress-circle-background-darkcolor-info: #0275FF;
    --progress-circle-background-lightcolor-info: #CCE3FF;
    --progress-circle-background-darkcolor-warning: #FF9800;
    --progress-circle-background-lightcolor-warning: #FFE0B3;
    --progress-circle-background-darkcolor-good:#00C858;
    --progress-circle-background-lightcolor-good:#CCE3FF;

  

    /*font*/
    --font-color-general: #5D666A;
    --font-color-secondary: #87929F;
    --font-color-nav: #0275FF;
    --font-color-good: #00883C;
    --font-color-error: #B50000;

    /*-----------------------------------------------------*/

    /*typografie*/
    --font-family-general: "Outfit", serif;

    /*-----------------------------------------------------*/

    /*font-weight*/

    /*weight*/
    --font-weight-bold: bold;
    --font-weight-light: light;
    --font-weight-normal: normal;

    /*-----------------------------------------------------*/


    /*font-size*/

    /*h1*/
    --titel-l: 46px;
    --titel-m: 32px;
    --titel-s: 28px;

    /*h2*/
    --subtitel-l: 32px;
    --subtitel-m: 28px;
    --subtitel-s: 18px;

    /*h3*/
    --primary-l: 24px;
    --primary-m: 22px;
    --primary-s: 18px;

    /*p*/
    --paragraph-l: 20px;
    --paragraph-m: 18px;
    --paragraph-s: 16px;
    --paragraph-xs: 14px;


    /*-----------------------------------------------------*/

    --line-height-general: 135%;

    /*-----------------------------------------------------*/

    /*border-radius*/
    --border-radius-s: 15px;
    --border-radius-m: 20px;

    /*-----------------------------------------------------*/

    /*border*/
    --border-warning: 1.5px solid #FFD08A;

    /*-----------------------------------------------------*/


    /*buttons*/

    /*button filter*/
    --button-filter-background: #0275FF;
    --button-filter-color: #CCE3FF;
    --button-filter-border-radius: 10px;


    /*button + pagina toevoegen filter*/
    --button-pagina-toevoegen-filter-background: #0275FF;
    --button-pagina-toevoegen-filter-color: #CCE3FF;
    --button-pagina-toevoegen-filter-border-radius: 20px;


    /*button + pagina toevoegen*/
    --button-pagina-toevoegen-background: #ffffff;
    --button-pagina-toevoegen-color: #5D666A;
    --button-pagina-toevoegen-border-radius: 5px;


    /*-----------------------------------------------------*/

    /*zoekbalk*/

    /*id*/
    --search-bar-background: #ffffff;
    --search-bar-height: 2em;
    --search-width-s: 45%;
    --search-width-m: 50%;
    --search-width-l: 55%;


    /*input>label*/
    --search-background-repeat: no-repeat;
    --search-background-position: .5em;
    --search-background-size: 1em;









}