body {
  font-family: var(--font-family-general);
  margin: 0;
}

p {
  font-family: var(--font-family-general);
  color: var(--font-color-general);
}

a {
  text-decoration: none;
}

/*skiplink*/
.skip {
  position: absolute;
  background-color: var(--font-color-general);
  color: var(--background-color-nav);
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip:focus {
  transform: translate(0%);
}


/*NAV*/

nav {
  background-color: var(--background-color-nav);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  height: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.phone-design-dashboard-heading {
  display: block;
}

.desktop-design-dashboard-heading {
  display: none;
}

.nav-phone-dashboard-nieuwekijk {
  display: flex;
  margin-left: .5em;
  gap: 1.5em;
  grid-column: 1;
  grid-row: 3;
}

.heading-text {
  display: flex;
  gap: .5em;
  font-size: var(--paragraph-m);
  cursor: pointer;
  color: var(--font-color-nav);
}

summary {
  position: relative;
  list-style: none;
  font-family: var(--font-family-general);
  color: var(--font-color-general);
}

summary::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: url('./assets/arrow.svg') no-repeat;
  background-size: cover;
  transition: 0.3s;
  background-size: contain;
  left: 6.5em;
  top: .5em;
}

/*logo accessdash*/
.logo-accessdash-img {
  margin-top: .5em;
  margin-left: .5em;
}

.nav-details {
  margin-left: .5em;
  display: block;
}

.nieuwekijk-nav-subtext{
  display: grid;
  margin-left: 1.5em;
  font-family: var(--font-family-general);
  color: var(--font-color-general);
  grid-column: 3;
  grid-row: 1;
  list-style-type: none;
  cursor: pointer;
}

a.nieuwekijk-nav-subtext{
  text-decoration: none;
}

.dashboard-nav-subtext{
  display: grid;
  margin-left: 1.5em;
  font-family: var(--font-family-general);
  color: var(--font-color-general);
  list-style-type: none;
  cursor: pointer;
}

a.dashboard-nav-subtex{
  text-decoration: none;
}

.extra-info-nav{
  list-style-type: none;
  cursor: pointer;
  font-family: var(--font-family-general);
  color: var(--font-color-general);
}

.extra-info-subtext-nav{
  display: grid;
  grid-column: 3;
  grid-row: 1;
  justify-content: end;
  margin: .5em;
  margin-bottom: 1em;
}

.link-site {
  grid-column: 1;
  display: flex;
  margin: 0;
  margin-left: 4em;
}

.update-site {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-self: center;
}


/*MAIN*/

main {
  background-color: var(--background-color);
  padding-bottom: .5em;
  min-height: 100vh;
}

h1 {
  display: grid;
  color: var(--font-color-secondary);
  font-size: var(--paragraph-s);
  margin-left: 1.5em;
  padding-top: 1.5em;
}

h1 strong {
  color: var(--font-color-general);
  font-size: var(--titel-s);
}

h2 {
  font-size: var(--subtitel-s);
  display: flex;
  margin-left: 1em;
  color: var(--font-color-general);
}

/*de verschillende website*/
.cards {
  background-color: var(--background-color-cards);
  border-radius: var(--border-radius-m);
  margin: 1.5em;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 35% 20% 40%;
  height: 10em;
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.082));
}

.logo-cards {
  margin-right: .5em;
  margin-top: -.3em;
}

.update-site.ontoegankelijk {
  background-color: var(--background-color-error);
  color: var(--font-color-error);
  padding: .5em;
  border-radius: var(--border-radius-m);
  align-self: center;
}

.update-site.toegankelijk {
  background-color: var(--background-color-good);
  color: var(--font-color-good);
  padding: .5em;
  border-radius: var(--border-radius-m);
  align-self: center;
}

.update-site.new-errors {
  background-color: var(--background-color-warning);
  color: var(--font-color-general);
  padding: .5em;
  border-radius: var(--border-radius-m);
  border: var(--border-warning);
  align-self: center;
  margin-right: 1.5em;
}

.urgent {
  width: 20px;
  height: 20px;
  margin-right: .5em;
}


/*circle*/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.circle {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  margin-right: 2.5em;
  margin-top: 1.2em;
}

.circle {
  /* vierkant en rond */
  width: 7em;
  aspect-ratio: 1;
  border-radius: 50%;

  /* om de taartpunt te maken*/
  background-image: conic-gradient(var(--color-bar, #666) calc(var(--percentage, 0) * 100%),
      var(--color-track, #ccc) 0);


  /* om de cirkel in het midden doorzichtig te maken */
  mask-image: radial-gradient(closest-side,
      transparent 2.5em,
      red 0);

  /* bolletje in het midden van de div */
  display: grid;
  place-items: center;
}

.circle::before,
.circle::after {
  content: "";
  display: block;
  /* bolletje op elkaar in het midden van de div */
  grid-area: 1/1;

  /* vierkant en rond */
  width: 1em;
  aspect-ratio: 1;
  border-radius: 50%;

  /* kleur van de bar */
  background-color: var(--color-bar, #333);
}

/* bolletje boven */
.circle::before {
  /* omhoog */
  transform:
    translateY(-3em);
}

.circle::after {
  /* draaien en dan in die richting omhoog */
  transform:
    rotate(calc(var(--percentage) * 1turn)) translateY(-3em);
}

.circle:nth-of-type(1) {
  --percentage: .57;

  --color-track: var(--progress-circle-background-lightcolor-info);
  --color-bar: var(--progress-circle-background-darkcolor-info);
}

.circle:nth-of-type(2) {
  --percentage: .57;

  --color-track: var(--progress-circle-background-lightcolor-warning);
  --color-bar: var( --progress-circle-background-darkcolor-warning);
}

.circle:nth-of-type(3) {
  --percentage: .100;

  --color-track: var(--progress-circle-background-lightcolor-warning);
  --color-bar: var( --progress-circle-background-darkcolor-warning);
}

.circle:nth-of-type(4) {
  --percentage: .100;

  --color-track: var(--progress-circle-background-lightcolor-good);
  --color-bar: var(--progress-circle-background-darkcolor-good);
}




/*media queries*/

@media screen and (max-width:335px){
  
  .update-site.new-errors {
    padding: .3em;
  }

  .cards{
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.082));
  }
}

@media screen and (max-width:375px) {
  .circle {
    width: 5em;
    margin-left: 1.5em;

    mask-image: radial-gradient(closest-side,
        transparent 1.5em,
        red 0);
  }

  .update-site.new-errors {
    margin: 0;
  }

  .link-site {
    grid-column: 1;
    display: flex;
    margin: 0;
    margin-left: 4em;
  }

  h2 {
    font-size: var(--paragraph-m);
  }

  .cards{
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.082));
  }

  .circle::before {
    transform: translateY(-2em);
  }

  .circle::after {
    transform: rotate(calc(var(--percentage) * 1turn)) translateY(-2em);
  }
}



@media screen and (min-width:450px){
  .cards{
   margin-right: 6em;
  }

}

@media screen and (min-width:500px){
  .cards{
   margin-right: 10em;
  }

}

@media screen and (min-width:600px){
  .cards{
   margin-right: 15em;
  }

}

@media screen and (min-width:650px){
  .cards{
   margin-right: 18em;
  }

}


@media screen and (min-width:700px) {

  .logo-accessdash-img {
    display: flex;
    justify-self: center;
    height: 25px;
  }

  body {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0;
  }

  main {
    background-color: var(--background-color);
    grid-column: 2;
  }

  nav {
    background-color: var(--background-color-nav);
    grid-column: 1;
    display: inline;
    position: fixed;
  }

  h1 strong {
    font-size: var(--titel-l);
  }

  h1{
    font-size: var(--paragraph-m);
  }

  h2{
    font-size: var(--subtitel-m);
  }

  h3{
    color: var(--font-color-nav);
    font-size: var(--primary-m);
    display: flex;
    margin: 0;
    margin-top: 3em;
    margin-bottom: .5em;
    margin-left: .5em;
    gap: .5em;
    justify-content: center;    
  }

  .heading-text{
    font-size: var(--primary-m);
    margin-left: .5em;
  }

  summary::after{
    left: 6em;
  }

  .extra-info-subtext-nav{
    position: sticky;
    bottom: 0;
  }

  .phone-design-dashboard-heading {
    display: none;
  }

  .desktop-design-dashboard-heading {
    display: block;
  }

  .cards{
    width: 23em;
  }

  .link-site{
    margin-left: 4.5em;
  }

  .nav-phone-dashboard-nieuwekijk{
    display: flex;
    margin-top: 2em;
    margin-left: .3em;
  }

  .dashboard-nav-subtext{
    margin-left: 2em;
  }
}

@media screen and (min-width:900px){
  .logo-accessdash-img {
    height: 30px;
  }
}


@media screen and (min-width:1000px){
  .cards-all{
    display: grid;
    grid-template-columns: 50% 1fr;
  }
}


@media screen and (min-width:1100px){
  .cards-all{
    display: grid;
    grid-template-columns: 45% 1fr;
  }
}

@media screen and (min-width:1200px){
  .cards-all{
    display: grid;
    grid-template-columns: 43% 1fr;
  }
}

@media screen and (min-width:1300px){
  .cards-all{
    display: grid;
    grid-template-columns: 40% 1fr;
  }
}

@media screen and (min-width:1400px){
  .cards-all{
    display: grid;
    grid-template-columns: 37% 1fr;
  }
}

